obj
bin
/xamarin packages.txt

/EasyTrain.sln
/Train - Android/EasyTrain - Android.csproj.user
/Train - Android/EasyTrain - Android.csproj
/Train - Android/*.user
/Train - Android/EasyTrain - Android.csproj.user

*.userprefs
*.user
packages
.nuget
.vs/
